<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="input">
                <h1 class="title">A Better Bowdoin Directory</h1>
                <div class="input-row">
                    <label for="first">First</label>
                    <input type="text" name="first" v-model="first" autocomplete="false" placeholder="James">
                </div>

                <div class="input-row">
                    <label for="first">Last</label>
                    <input type="text" name="last" v-model="last" autocomplete="false" placeholder="Little">
                </div>
                <p>{{ message }}</p>
            </div>

            <div class="results">
                <div v-for="person in answer" class="entry">
                    <div class="image" v-if="person.imageName"><img v-bind:src="'https://webapi.bowdoin.edu/images/directory/' + person.imageName + '.jpg'" alt=""></div>
                    <div class="other">
                        <h1>{{ person.firstName }} {{ person.middleName }} {{ person.lastName }}</h1>
                        <p class="directory-name" v-if="!person.hasFacultyPage">{{ person.directoryName }}</p>
                        <p class="directory-name" v-if="person.hasFacultyPage"><a v-bind:href="person.worker.facultyUrl">{{ person.directoryName }}</a></p>
                        <div v-if="person.worker">
                            <p class="position" v-for="position in person.worker.positions"><b>{{position.department}}</b>: {{position.title}}</p>
                        </div>
                        <p><a v-bind:href="'mailto:' + person.email">{{ person.email }}</a></p>

                        <ul>
                            <li v-for="(value, key) in person.student"
                                v-if="value">{{ camelCaseToWords(key) }}: <b>{{ value }}</b></li>
                            
                            <li v-for="(value, key) in person.worker"
                                v-if="value && key != 'facultyUrl' && key != 'positions'">{{ camelCaseToWords(key) }}: <b>{{ value }}</b></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="info">
                <p>The Bowdoin directory sucks. Here's a better one.</p>
                <p>Made by James Little '19. Get in touch with him for feature requests.</p>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="app.js"></script>

<!-- Matomo -->
<script type="text/javascript">
    var _paq = _paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.jameslittle.me/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '4']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</html>